.reset{
    color: rgb(255, 255, 255);
    background-color: #8d8d8d;
    border: color(rec2020 red green blue);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
   
}

.text-submit{
    font-size: 14px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace   
}
 
.reset:hover{
    background-color: #ff7b7b;
}
 

.hidden{
    display: none;
}

.inputError{    
    color: rgb(145, 0, 0);
    background-color: #ffe4e4;
    border: 2px color( rgb(121, 0, 0));
}

.inputError::placeholder{    
    color: rgb(255, 0, 0);
}

#age {
    max-width: 300px; 
  }

  .text-label {
    font-size: 15px;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace
  }

  .text-age {
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
  }

  .age-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .age-option label {
    width: 150px;
    margin: 0;
    
  }

  .age-option input[type="radio"] {
    margin: 0;
  }

  .checkbox-format {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }


  .checkbox-format label {
    margin: 0;
    white-space: nowrap; 
  }

