

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: -25px;
    z-index: -1;
    background-attachment: fixed;
}

.card-text {   
  text-align: center; 
  color: black;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace
}

.card-text-artist {
  text-align: center; 
  color: black;
  font-size: 35px;
  font-family:'Courier New', Courier, monospace
}

.button-text {
  text-align: center; 
  font-size: 20px;
  font-family:'Courier New', Courier, monospace
}

/*.fixed-background {
    background-image: url('Images/RedTiger.svg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh; 
  }*/

  body {
    background-image: url('Images/RedTiger.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

.header {
    flex: 1;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace
  }

  .navbar {
white-space: nowrap;
    flex: 1;
    height: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.7rem;
    font-family:'Courier New', Courier, monospace
  }

  .titles {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
  }

  .searchbox {
    margin-left: 5%;
    margin-right: 10%;
 }

 .dropdown-menu .dropdown-item {
  font-size: 22px !important;
}


 form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 0 auto;
}
input, select, textarea, button {
  padding: 8px;
  font-size: 16px;
  width: 100%; 
}
label {
  font-size: 20px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace
}

legend {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.2px;
  font-family:'Courier New', Courier, monospace
}


.heading {
  font-size: 40px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.faq-box {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.faq-question {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 5px;
  font-weight: normal;
}